@charset "UTF-8";

.complex-tab-table {
  .next-tabs-medium .next-tabs-tab-inner {
    height: 40px;
    line-height: 40px;
  }
}
.goodsign{
  display: initial;
  padding: 5px 10px;
  color: rgb(82,196,26);
  background: rgb(246,255,237);
  border: 1px solid rgb(183,235,143);
  border-radius: 4px;
  min-width: 58px;
  text-align: center;
}
.badsign{

  display: initial;
  padding: 5px 10px;
  color: rgb(252,137,137);
  background: rgb(252,240,240);
  border: 1px solid rgb(252,201,201);
  border-radius: 4px;
  text-align: center;
}